.notify-container {
  width: 300px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: fixed;
  top: 10px;
  right: 5px;
  /* display: none; */
}
.notify-title {
  border-bottom: 1px solid #ddd;
}
.notify-content {
  padding-left: 5px;
}